html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #004374;
}
iframe {
  display: none;
}
a {
  text-decoration: none;
  display: block;
  color: #fff;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  background-color: #004374;
  height: 60px;
  padding: 0 10px 0 3.7%;
}
header .col {
  float: left;
}
header .col:first-child {
  padding-top: 18px;
}
header .col:first-child img {
  height: 26px;
  width: 148px;
}
header .col:last-child {
  padding-top: 11px;
  float: right;
}
#root {
  height: auto;
  min-height: 460px;
  background: url(../img/biglady.png) 100% bottom no-repeat #2183CA;
  background-size: 258px 305px;
}
footer {
  background-color: #004374;
  text-align: center;
  padding: 0 3.7% 33px;
}
footer ul {
  padding-top: 9px;
}
footer ul li {
  font-weight: 500;
  display: inline-block;
}
footer ul .line {
  height: 27px;
  width: 2px;
  background-color: #fff;
  opacity: .2;
  position: relative;
  top: 5px;
  margin-left: 17px;
  margin-right: 17px;
}
footer .copyrights {
  padding-top: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
